<%- include ('./partials/header') -%>
<div class="container">
  <input id="document" type="file" />
  <div class="row">
    <div class="span8">
      <div id="output" class="well">
      </div>
    </div>
    <div class="span4">
      <h3>Messages</h3>
      <div id="messages">
      </div>
    </div>
</div>


<%- include ('./partials/footer') -%>