<%- include ('./partials/header') -%>
<div class="container-fluid">
  <button type="button" class="btn btn-outline-primary">
    <input id="document" type="file">
  </button>
  <div class="row">
    <div class="span8">
      <div id="output" class="well">
      </div>
    </div>
    <div class="span4">
      <h3>Messages</h3>
      <div id="messages">
      </div>
    </div>
</div>

<div class="border border-danger col-4">
  <h2>Warnings about convertion</h2>
  <ul>
    <li>Mammoth currently doesn't support putting information from your headers into the HTML convertion. I hope they might fix this in the future, but just a warning.</li>
  </ul>
</div>

<%- include ('./partials/footer') -%>