<%- include ('./partials/header') -%>

<h1 id="a-word-to-markdown-to-converter">A Word to Markdown to... Converter</h1>
<h2 id="basic-info">Basic Info</h2>
<p>This is a website that hopes to be able to convert a <mark>Word Document</mark> into <u>Markdown</u> into whatever we support.</p>
<p>We also plan to do the opposite, and you can read about that below.</p>
<h3 id="issues">Issues</h3>
<p>If you want more formats, you can post them <a href="https://github.com/yappermags/work_app/issues">here.</a></p>
<blockquote>
<p>We use the Mammoth library for these convertions. As I gain more knowledge on how to use Mammoth, the website will continue to thrive and grow.</p>
</blockquote>
<h2 id="tracking-our-development-process">Tracking our development process</h2>
<p><em>May 29, 2020 - June 7,2020</em> The first steps of our development process, where I am just initializing the workspace that Node gives me. This is operable.</p>

<h3 id="dependencies">Dependencies</h3>
<ul>
<li>Express</li>
<li>EJS(Embedded Javascript)</li>
<li>Nodemon</li>
<li>Mammoth</li>
</ul>

<h3 id="frontend-dependencies">Frontend Dependencies</h3>
<ul>
<li>Bootstrap</li>
<li>jQuery</li>
</ul>

<h2 id="other-information">Other Information</h2>
<h3 id="what-i-recommend">What I recommend</h3>
<blockquote>
<p>I personally recommend that you stick to Markdown, because Markdown is easy to read, and doesn&#39;t require any third-party installations. A PDF would be a good business alternative, and so would HTML. EPUB translation might happen in the future, but I cannot make any promises yet.</p>
</blockquote>
<h3 id="who-this-is-for">Who this is for</h3>
<p> This is for the kind of people who want to take a raw Word document, but don&#39;t want to have to manually format it themselves. They can email their client to see what formats they want. I will give you a JS prompt to enter in format details. my app will take those details (We are also not saving formats into databases for security reasons) and apply them to your document.</p>
<p>If you have any problems about using no databases, put it in the <a href="https://github.com/yappermags/work_app/issues">issues page.</a></p>
<h3 id="versions">Versions</h3>
<p><em>May 29, 2020</em>. <strong>Version</strong></p>
<hr>
<h1 id="what-might-happen-soon">What Might happen soon</h1>
<h2 id="second-page">Second page</h2>
<p>I am thinking of also creating a <mark>Markdown</mark> to <u>Word</u> converter, which is going to use the base of Mammoth. </p>
<h3 id="how-will-i-do-this">How will I do this?</h3>
<p>I am going to take the Mammoth source, <strong>anylize</strong> and take notes about Mammoth, <strong>break it down</strong> to the very barebones source, then <strong>build it back up</strong>. I will try with all of my power to make this a public npm package.</p>
<h3 id="when">When?</h3>
<p>I expect to release and use my own API by <em>Version</em> <strong>Beta One</strong>, or to be technical, around <strong>Version 0.5</strong>.</p>
<blockquote>
<p>@@Copyright 2020 LIKE Productions</p>
</blockquote>
<br>
<h1>Twitter Area</h1>
<%- include ('./partials/footer') -%>